body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-principal {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-principal a {
    margin-right: 10px;
    color: black;
}

nav .nav-principal img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
    border-radius: 50%;
}

main {
    margin-top: 50px;
    text-align: center;
}

main .logo-principal {
    margin: 0 auto;
    width: 530px;
}

main .logo-principal #Google {
    width: 352px;
    height: 120px;
}

main .main {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main .buscador {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main .buscador:hover {
    box-shadow: 0 1px 6px 0 rgb(137, 137, 137);
}

main .main input {
    width: 420px;
    height: 40px;
    border: none;
    outline: none;
}

main .main .buscador .otros-buscadores img {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

main .main .buscador .lupa img {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}

main .botones {
    width: 530px;
    margin: 0 auto;

}

main .botones div {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

main .botones button {
    height: 35px;
    background-color: f2f2f2;
    border: none;
    font-size: 14px;
    color: 5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

main .botones button:hover {
    box-shadow: 0 1px 6px 0 rgb(137, 137, 137);
    border: 2px solid #8cd309;
}



main .Accesos-directos1 .Iconos-Accesos1 {
    display: inline-block;
}

main .Accesos-directos2 .Iconos-Accesos2 {
    display: inline-block;
}

main .Accesos-directos1 .Iconos-Accesos1 img {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40%;
}

main .Accesos-directos2 .Iconos-Accesos2 img {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40%;
}

main .Accesos-directos1 .Iconos-Accesos1:hover {
    box-shadow: 0 1px 6px 0 rgb(137, 137, 137);
    border: 2px solid #8f918d;
}

main .Accesos-directos2 .Iconos-Accesos2:hover {
    box-shadow: 0 1px 6px 0 rgb(137, 137, 137);
    border: 2px solid #8f918d;
}

main section div p {
    color: black;
    font-weight: bold;
}



footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #dfe1e5;
}

footer ul {
    margin: 10PX;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-content: left;
}

footer .footer-right {
    justify-content: right;
}

footer ul li a {
    margin: 10px;
    color: rgb(67, 67, 71);
}